<%- include('includes/head') %>
<%- include('includes/navbar') %>

   <div class="container">
        <div class="row">

            <div class="col-lg-2"></div>

            <div class="col-lg-8 my-3">
                <h1 class="display-1 text-center pt-5">Error</h1>
                <p class="text-center lead">Desculpa nossa equipe jรก esta tentando resolver</p>

                <div class="row">
                    <div class="col">
                        <div class="alert alert-danger">Um erro qualquer</div>
                    </div>
                </div>
    
               
            </div>

            <div class="col-lg-2"></div>

        </div>
   </div>

<%- include('includes/footer') %>