<%- include('includes/head') %>
<%- include('includes/navbar') %>

   <div class="container">
        <div class="row">

            <div class="col-lg-2"></div>


            <div class="col-lg-8 my-3">


              <%- include('includes/messages') %>

              <h1 class="display-1 text-center pt-5">Seja bem vindo</h1>
              <p class="text-center lead">Seus contados abaixos</p>
            
                
            </div>

            <div class="col-lg-2"></div>

        </div>
   </div>

<%- include('includes/footer') %>